$browser-context: 16px; // Default
$font-family: 'Montserrat', sans-serif;

$success: #555;
$wrong: #555;
$warning: #555;

$black: #10164b;
$grey: #696b81;
$white: #fff;

$placeholder: #555;

$surface: #f9f9f9; // aka bg
$surface-transparent: rgba(255, 255, 255, 10%);
